<h1>Загрузить новый шаблон</h1>

<div class="form-container">
  <div class="form-container">
    <%= render 'form', form_url: settings_templates_path, form_method: :post, submit_text: "Загрузить" %>
  </div>
</div>
